// @import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
$bgcolor: #fff5f2;
$fontcolor: #ff5f5f;
$txtfont: 'Open Sans', sans-serif;

.head {
    height: 200px;  
}

a {
    text-decoration: none;
    color: $fontcolor;
}

.navig {
    background-color: $bgcolor;
    a{
        text-decoration: none;
        color: $fontcolor;
        font-style: 18px;
        font-weight: bold;
        font-family: $txtfont;
    }
}

.blogcont {
    height: auto;
}

.mystyle {
    width: 90%;
    color: $fontcolor;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Benne', serif;
}

.blogstyle {
    font-size: 18px;
    font-family: $txtfont;
}

.stylediv {
    background-color:$bgcolor;
}